[submodule "themes/m10c"]
	path = themes/m10c
	url = https://github.com/vaga/hugo-theme-m10c.git
[submodule "themes/reveal-hugo"]
	path = themes/reveal-hugo
	url = https://github.com/dzello/reveal-hugo.git
